@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand:wght@300&family=Raleway:wght@200&family=Redressed&display=swap");
:root {
  --background-color: rgba(224, 224, 224, 1);
  --title-color: rgb(0, 0, 0);
  --title-font: "Quicksand", sans-serif;
  --alternate-font: "Poppins", sans-serif;
  --nav-btn-bg: rgb(216, 191, 216); }

body {
  background: var(--background-color);
  padding: 0;
  margin: 0; }

* {
  background: transparent; }

#intro {
  height: 100%; }

video {
  object-fit: cover;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

#intro-bg-video {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }

#intro-text {
  position: relative;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6); }

#wrapper-canvas {
  display: block;
  width: 100%; }

a.white-mode:link, a.white-mode:visited, a.white-mode:active {
  font-family: "Catamaran", sans-serif;
  font-size: 12px;
  text-decoration: none;
  background: #212121;
  padding: 8px 18px;
  color: #f7f7f7;
  border-radius: 20px;
  margin: 0 4px; }

a.white-mode--highlight a.white-mode:link, a.white-mode:visited, a.white-mode:active {
  background: #293fe9; }

a.white-mode:hover {
  background: #edf3f8;
  color: #212121; }

body {
  margin: 0;
  padding: 0;
  width: 100%; }

.content {
  left: 0;
  padding: 0 90px;
  text-align: left; }

.title {
  font-family: var(--title-font);
  pointer-events: none;
  font-size: 40px;
  line-height: 1;
  margin-top: 14px;
  color: var(--title-color);
  display: block; }
  .title span {
    color: #ec456c; }

.subtitle {
  font-family: var(--alternate-font);
  pointer-events: none;
  font-weight: 20px;
  font-size: 20px;
  line-height: 1;
  margin-top: 0;
  color: #bb86fc;
  display: block;
  pointer-events: none; }
  .subtitle span {
    color: #ec456c; }
  .subtitle .button:link, .subtitle .button:visited, .subtitle .button:hover, .subtitle .button:active {
    -webkit-transition: all 0.3s cubic-bezier(0.69, 0, 0.185, 1);
    transition: all 0.3s cubic-bezier(0.69, 0, 0.185, 1);
    border-radius: 30px;
    font-family: "Catamaran", sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    text-rendering: optimizeLegibility;
    padding: 18px 60px;
    line-height: 1;
    color: #90e5fb;
    margin: 20px auto 0;
    display: inline-block;
    background: #222222;
    text-decoration: none;
    box-shadow: 0 0 30px #90e5fb; }

#nav {
  background-color: var(--background-color);
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; }
  #nav div {
    background: transparent; }
  #nav .navbtn {
    text-align: center;
    line-height: 25px;
    background-color: transparent;
    border-radius: 6px;
    padding: 5px;
    height: 40px;
    width: 80px; }

#about-section {
  background-color: var(--background-color);
  height: 100vh; }
