@import url("https://fonts.googleapis.com/css2?family=Hubballi&family=Poppins&family=Raleway&display=swap");
:root {
  --hero-bgcolor: #f8f8f8; }

html, body {
  padding: 0em;
  margin: 0;
  width: 100%;
  background-color: var(--hero-bgcolor); }

body {
  font-family: "Poppins",Helvetica,Arial,sans-serif;
  line-height: 1.5;
  font-size: 1.2rem;
  position: relative; }

nav #logo {
  left: 10px;
  position: fixed;
  top: 10px;
  height: 52px; }

nav .navigation__toggle {
  right: 10px;
  position: fixed;
  top: 10px;
  height: 52px; }

.hero {
  width: 100%;
  height: auto;
  position: relative; }
  .hero h1 {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    line-height: 4rem;
    font-size: 2rem;
    letter-spacing: 2px;
    word-spacing: 3px;
    padding-right: 0px; }
  .hero p {
    font-family: "Hubballi";
    width: 90%;
    position: relative;
    display: inline-block;
    font-size: 1.2rem;
    color: #474747; }
  .hero .hero__work {
    color: #000;
    padding: 5px;
    position: relative;
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase; }
    .hero .hero__work .a-link {
      font-size: 16px;
      margin-left: 10px;
      letter-spacing: .5px;
      position: relative;
      z-index: 1; }
    .hero .hero__work .line {
      width: 30px;
      height: 1px;
      position: relative;
      background: #000;
      margin-left: 15px; }
    .hero .hero__work .line::before {
      width: 8px;
      transform: rotate(-35deg);
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      background: #000;
      height: 1px;
      transform-origin: center right; }
    .hero .hero__work .line::after {
      content: "";
      width: 8px;
      position: absolute;
      right: 0;
      bottom: 0;
      background: #000;
      height: 1px;
      transform-origin: center right;
      transform: rotate(35deg); }
  .hero .hero__work::before {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    left: -12px;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #e8e8e8; }
  .hero .hero__img-wrapper {
    margin-left: -20px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 5; }
  .hero .hero__img-clip {
    clip: rect(0px, 400px, 500px, 0px);
    width: 100%;
    height: 100%;
    background: url(./static/ceasar-bust.c2bf68cb3b24b5361c95d04c445511a8.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    animation: float 3s ease infinite;
    animation: float 3s ease infinite; }

@keyframes float {
  0% {
    transform: translateY(-10px); }
  50% {
    transform: translateY(20px); }
  to {
    transform: translateY(-10px); } }
  .hero .hero__grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative; }
  .hero .hero__img {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 300px;
    height: 350px;
    position: relative;
    order: 1; }
  .hero .hero__wrapper {
    padding: 5% 6%;
    display: flex;
    position: relative;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    gap: 1em; }
  .hero #header__cross {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transform: scale(0.8) translateY(20px); }
  .hero .hero__title {
    order: 2;
    padding: 5rem 10% 10%;
    bottom: 30px; }
  .hero .hero__background_circle, .hero .hero__background_circle2 {
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transform: translate(0px); }
  .hero .hero__background_circle {
    width: 350px;
    height: 350px;
    z-index: 0;
    background: #fff; }
  .hero .hero__background_circle2 {
    width: 350px;
    height: 350px;
    z-index: -1;
    background: #f1f1f1 none repeat scroll 0% 0%; }
  .hero .hero__socials {
    font-size: 1rem;
    margin-top: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    padding: 0; }
    .hero .hero__socials a:first-child {
      margin-left: 0; }
    .hero .hero__socials span {
      font-size: 0.7rem; }
    .hero .hero__socials a {
      display: inline-block;
      position: relative;
      color: #474747;
      padding: 5px;
      border-bottom: 1px solid #474747;
      padding-bottom: 1px; }
      .hero .hero__socials a .socials {
        opacity: 1;
        transform: translate(0px);
        height: 100%;
        margin: 0;
        padding: 0; }

/*
-----------------------------------------------------------------------------------------------------
*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins",Helvetica,Arial,sans-serif;
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 700;
  word-spacing: 3px;
  letter-spacing: 2px; }

h1 {
  line-height: 4rem;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 2rem;
  padding-right: 0px; }

h1,
h2 {
  letter-spacing: 2px; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 3rem; }

h4 {
  font-size: 2.5rem; }

h5 {
  font-size: 2rem; }

h6 {
  font-size: 1.5rem; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none; }

a,
p {
  color: #474747; }

p {
  font-family: Visuelt Pro,Helvetica,Arial,sans-serif;
  line-height: 4rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.8rem; }
