@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand:wght@300&family=Raleway:wght@200&family=Redressed&display=swap");
:root {
  --background-color: rgb(59, 59, 59);
  --title-color: rgb(0, 0, 0);
  --title-font: "Quicksand", sans-serif;
  --alternate-font: "Poppins", sans-serif;
  --nav-btn-bg: rgb(145, 145, 145); }

body {
  padding: 0;
  margin: 0; }

.video-container {
  height: 100%;
  width: 100%;
  position: relative; }

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0; }

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
  z-index: 1;
  position: relative;
  text-align: center;
  color: #dc0000;
  padding: 10px; }

.svg-bg {
  transform: translateY(-100%);
  position: absolute;
  width: 100%; }

#nav {
  background-color: var(--background-color);
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; }
  #nav div {
    background: transparent; }
  #nav .navbtn {
    text-align: center;
    line-height: 25px;
    background-color: transparent;
    border-radius: 6px;
    padding: 5px;
    height: 40px;
    width: 80px; }
