@import url("https://fonts.googleapis.com/css2?family=Hubballi&family=Poppins&family=Raleway&display=swap");

:root {
    --hero-bgcolor: #f8f8f8;

}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: var(--hero-bgcolor);
}

body {
    font-family: "Poppins",Helvetica,Arial,sans-serif;
    line-height: 1.5;
    font-size: 1.2rem;
    position: relative;
}

*{
    margin: 0;
    padding: 0;
}

@mixin animate($animation,$duration,$method,$times){
  animation: $animation $duration $method $times;
}

@mixin keyframes($name){
  @keyframes #{$name}{
      @content;
  }
}


.line {
    width: 30px;
    height: 1px;
    position: relative;
    background: #000;
    margin-left: 15px;
}

.line::before {
    width: 8px;
    transform: rotate(-35deg);
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    background: #000;
    height: 1px;
    transform-origin: center right;
}

.line::after {
    content: "";
    width: 8px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #000;
    height: 1px;
    transform-origin: center right;
    transform: rotate(35deg);
}

nav{
    z-index: 999;
    #logo {
        z-index: 999;
        left: 10px;
        position: fixed;
        top: 10px;
        height: 52px;
    }

    .navigation__toggle {
        z-index: 999;
        right: 10px;
        position: fixed;
        top: 10px;
        height: 52px;
    }
}

.hero {
    width: 100%;
    height: auto;
    position: relative;
  
    h1 {
        font-family: 'Raleway', Arial, Helvetica, sans-serif;
        line-height: 4rem;
        font-size: 2rem;
        letter-spacing: 2px;
        word-spacing: 3px;
        padding-right: 0px;
    }
    p {
        font-family: "Hubballi";
        width: 90%;
        position: relative;
        display: inline-block;
        font-size: 1.2rem;
        color: #474747;
    }
    .hero__work {
        color: #000;
        padding: 5px;
        position: relative;
        display: inline-flex;
        align-items: center;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
    
        .a-link {
            font-size: 16px;
            margin-left: 10px;
            letter-spacing: .5px;
            position: relative;
            z-index: 1;
       }  
    }
    
    .hero__work::before {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        left: -12px;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #e8e8e8;
   }

    .hero__img-wrapper {
        margin-left: -20px;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 5;
   }
  
   .hero__img-clip {
        clip: rect(0px, 400px, 500px, 0px);
        width: 100%;
        height: 100%;
        //background: url("https://raw.githubusercontent.com/abhirajranjan/abhirajranjan.github.io/New_Design/static/ceasar-bust.c2bf68cb3b24b5361c95d04c445511a8.png");
        background: url("../ceasar-bust.c2bf68cb3b24b5361c95d04c445511a8.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        
        @include keyframes(float){
          0% {
              transform: translateY(-10px); }
          50% {
              transform: translateY(20px); }
          to {
              transform: translateY(-10px); }
        }
      
        @include animate(float, 3s, ease, infinite);
      
    }
    .hero__grid {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative; 
    }

    .hero__img {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: 300px;
        height: 350px;
        position: relative;
        order: 1;
    }
    .hero__wrapper {
        padding: 5% 6%;
        display: flex;
        position: relative;
        height: 100%;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        gap: 1em; 
    }
  
    #header__cross {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        transform: scale(0.8) translateY(20px);
    }
  
    .hero__title {
        order: 2;
        padding: 5rem 10% 10%;
        bottom: 30px;
    }
  
    .hero__background_circle, .hero__background_circle2 {
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        transform: translate(0px);
    }

    .hero__background_circle {
        width: 350px;
        height: 350px;
        z-index: 0;
        background: #fff;
    }
  
    .hero__background_circle2 {
        width: 350px;
        height: 350px;
        z-index: -1;
        background: #f1f1f1 none repeat scroll 0% 0%;
      
    }

    .hero__socials {
        font-size: 1rem;
        margin-top: 0;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        margin: 0;
        padding: 0;
      
        a:first-child {
            margin-left: 0;
        }
        span {
            font-size: 0.7rem;
        }
        a {
            display: inline-block;
            position: relative;
            color: #474747;
            padding: 5px;
            border-bottom: 1px solid #474747;
            padding-bottom: 1px;
        
            .socials {
                opacity: 1;
                transform: translate(0px);
                height: 100%;
                margin: 0;
                padding: 0;
            }
        }
    }
}

.project-showcase{
    margin-top: 5em;

    .heading{
        padding-left: 2em;
      
        h2{
            font-family: 'Raleway', Arial, Helvetica, sans-serif;
        }

        p {
            margin-top: .5em;
            font-family: "Hubballi";
            width: 90%;
            position: relative;
            display: inline-block;
            font-size: 1.2rem;
            color: #474747;
        }
    }

    .cards{
        margin-top: 3em;
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 4em;
        
        .card{
            display: flex;
            position: relative;
            flex-direction: column;
            transform: translate(0px);
            height: auto;

            .bg{
                position: relative;
                order: 1;
                width: 100%;
                height: 15rem;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: 10;

                svg{
                    width: 350px;
                    //transform: translateX(20px);
                    position: absolute;
                    right: 0;
                    z-index: 1;

                    image{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .thumbnail-bg{
                    transform: scaleX(1);
                    width: 90%;
                    height: 70%;
                    bottom:-20%;
                    right: 25%;
                    z-index: 0;
                    transform-origin: right center;
                    position: absolute;
                }
            }

            .container{
                order: 2;
                padding: 5rem 0 0.8rem 0;
                display: flex;

                ._line{
                    width: 20px;
                    height: 1px;
                    background: #d8d8d8;
                    margin-top: 2rem;
                    margin-right: 0.5rem;
                }

                .content{
                    display: flex;

                    .serialno{
                        margin-right: 1.2rem;
                        display: block;
                        margin-top: 1rem;
                        font-size: 1.3rem;
                        color: #8f8e8e;
                        opacity: .5;
                    }

                    .title{
                        h2{
                            color: #8f8e8e;
                            margin-bottom: 0;
                        }
                        span{
                            opacity: .8;
                            color: #8f8e8e;
                            letter-spacing: 1px;
                            word-spacing: 2px;
                            font-size: .8rem;
                            text-transform: uppercase;
                        }
                    }
                }
            }

            a{
                position: relative;
                right: unset;
                left: 6rem;
                order: 3;
                color: #000;
                padding: 5px;
                top: 0;
                bottom: 0;
                margin: auto;
                z-index: 10;

                display: inline-flex;
                align-items: center;
                font-weight: 700;
                text-decoration: none;
            }

            a::before{
                width: 35px;
                height: 35px;
                left: -12px;

                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;

                background: #e8e8e8;
                border-radius: 50%;

                color: #000;
                font-weight: 700;
            }
            .link-text{
                font-size: 16px;
                margin-right: 10px;
                text-transform: uppercase;
                letter-spacing: .5px;
                word-spacing: 2px;
                z-index: 1;
                position: relative;
            }
        }
    }
}
/*
-----------------------------------------------------------------------------------------------------
*/
h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins",Helvetica,Arial,sans-serif;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 700;
    word-spacing: 3px;
    letter-spacing: 2px;
}

h1 {
    line-height: 4rem;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    padding-right: 0px;
}

h1,
h2 {
    letter-spacing: 2px;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.5rem;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none;
}

a,
p {
    color: #474747;
}

p {
    font-family: Visuelt Pro,Helvetica,Arial,sans-serif;
    line-height: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}